.btn-actives {
    background-color: #10c488;
    color: white;
    border-color: #00FA9A;
}

.btn-normal {
    color: rgb(11, 93, 148);
    background-color: white;
    border-color: #37CDBE;
}

.pagination-item {
    color: white;
    background-color: #2dd12d;
}

.first-btn {
    color: white;
    background-color: #6deb6d;
}

.label {
    font-weight: bold;
    margin-right: 10px;
}

.bor {
    border: 1px solid #37CDBE;
}

.error-box  {
    width: 260px;
}